.el {
  position: relative;

  display: flex;

  margin-top: 1rem;
  margin-bottom: 1rem;

  overflow-y: auto;
  height: 100vh;
}

.grid {
  display: grid;
  gap: 2.5rem;
  align-items: flex-start;
  grid-template-columns: repeat(3,minmax(0,1fr));

  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;

  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.column {
  display: grid;
  gap: 2.5rem;
}

.image {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;

  object-fit: cover;
  object-position: center;
}

.card {
  position: relative;
}
